    <div class="col-12">
        <% if @lyrics.any? %>
            <ul class="list-unstyled">
                <% @lyrics.each do |lyric| %>
                    <% user = User.find(lyric.user_id)%>
                    <li class="media bg-info m-3 p-3">
                        <dvi>
                            <%= link_to user, class: "text-decoration-none" do %>
                                <img src="<%= gravatar_url(user, { size: 50 }) %>" class="mr-3 col-12" alt="..." style="border-radius: 50%;">
                                <div class="text-center">
                                    <span><%= user.name %></span>
                                </div>
                            <% end %>
                            <div class="text-center">
                                <%= render 'favorites/favorite_button', lyric: lyric %>
                            </div>
                        </dvi>
                        <%= link_to lyric, class: "media-body ml-3 text-decoration-none text-white" do %>
                            <h5 class="mt-0 mb-1"><%= lyric.title %></h5>
                            <section>
                                <% if lyric.content.length < 50 %>
                                    <%= lyric.content %>
                                <% else %>
                                    <%= lyric.content.slice(0,50) %> ...
                                <% end %>
                            </section>
                            <section>
                                <%= lyric.comment %>
                                <%= lyric.id %>
                            </section>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>