    <div class="col-12 p-0">
        <% if @lyrics.any? %>
            <ul class="list-unstyled">
                <% @lyrics.each do |lyric| %>
                    <% user = User.find(lyric.user_id)%>
                    <li class="media p-1 p-sm-3 border-bottom" >
                        
                        <div class="row col-12 d-flex justify-content-start">
                            <%= link_to user, class: "ml-3 media-body col-1 p-0", style: "text-decoration: none;" do %>
                                <% if user.picture? %>
                                    <img 
                                     src="<%= user.picture.to_s %>" 
                                     class="border rounded-circle" 
                                     style="width: 3rem; height: 3rem;"
                                    >
                                <% else %>
                                    <img 
                                     src="/user_icon.png" 
                                     class="border rounded-circle" 
                                     style="width: 3rem; height: 3rem;"
                                    >
                                <% end %>
                            <% end %>
                            
                            <%= link_to lyric, class: "media-body text-dark col-11", style: "text-decoration: none;" do %>
                                <div class="d-flex justify-content-start">
                                    <h6 class="col-9"><%= lyric.title %></h6>
                                    <small>by <%= user.name %></small>
                                </div>
                                <section class="pl-3" style="font-size: 0.9em;">
                                    <% if lyric.content.length < 75 %>
                                        <%= lyric.content %>
                                    <% else %>
                                        <%= lyric.content.slice(0,75) %> ...
                                    <% end %>
                                </section>
                                <section class="pl-3 p-2 border my-2" style="font-size: 0.9em;">
                                    <%= lyric.comment %>
                                </section>
                            <% end %>
                            <div class="row col-12 d-flex justify-content-end p-0">
                                <div class="d-flex justify-content-around col-7">
                                    <div class="col-4">
                                        <%= render 'favorites/favorite_link', lyric: lyric %>
                                    </div>
                                    <div class="col-4">
                                        <% render 'favorites/apply_link' %>
                                    </div>
                                    <div class="col-4">
                                        <% render 'favorites/comment_link' %>
                                    </div>
                                </div>
                                <div class="mx-2 my-1">
                                    <% if current_user == lyric.user && op == 'user-page' %>
                                        <%= render 'lyrics/delete_button', lyric: lyric %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                        
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>