    <div class="col-12">
        <% if @lyrics.any? %>
            <ul class="list-unstyled">
                <% @lyrics.each do |lyric| %>
                    <% user = User.find(lyric.user_id)%>
                    <li class="media m-3 p-3", style="background-color: orange;" >
                        <dvi>
                            <%= link_to user, class: "text-decoration-none" do %>
                                <img src="<%= gravatar_url(user, { size: 40 }) %>" class="card-img-top p-3 rounded-circle" alt= <% user.name %> >
                                <div class="text-center">
                                    <span><%= user.name %></span>
                                </div>
                            <% end %>
                            <div class="text-center">
                                <%= render 'favorites/favorite_button', lyric: lyric %>
                            </div>
                        </dvi>
                        <%= link_to lyric, class: "media-body ml-3 text-decoration-none text-dark" do %>
                            <h5 class="mt-0 mb-1 bg-white p-2 "><%= lyric.title %></h5>
                            <section class="p-2 mt-2 bg-white h-50">
                                <% if lyric.content.length < 50 %>
                                    <%= lyric.content %>
                                <% else %>
                                    <%= lyric.content.slice(0,50) %> ...
                                <% end %>
                            </section>
                            <section class="p-2 mt-2 bg-white">
                                <%= lyric.comment %>
                            </section>
                            <div>
                                <% if current_user == lyric.user %>
                                <% msg = '『' + lyric.title + '』を削除しますか? / You sure to delete "' + lyric.title +  '"?' %>
                                    <%= link_to "Delete", lyric, method: :delete, data: { confirm: msg }, class: 'btn btn-secondary btn-sm' %>
                                <% end %>
                            </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>