<%= stylesheet_link_tag "lyrics/index", :media => "all" %>

<div class="col-12 col-sm-9 offset-sm-2 p-0 pt-3 pb-5" id="wrapper">
    <%= render 'lyrics/list_tabs', user: current_user %>
    <%= render 'lyric_list', op: 'lyric-page' %>
    <div class="px-5">
        <%= paginate @lyrics %>
    </div>
</div>
<%= render 'layouts/under_menu', user: @current_user %>