<%= stylesheet_link_tag "lyrics/show", :media => "all" %>


<div class="offset-sm-2">
    <h1 class="text-center my-3" id="user_title">Lyric Detail</h1>
    <div class="row d-flex justify-content-around m-0 " id="wrapper">
        <div class="col-2 d-none d-sm-block p-0 px-2" id="lyric_menu_sm">
            <%= link_to user_path(@user), id: "user_link", class:"row d-flex justify-content-around m-0" do  %>
                <%= render 'users/user_image_button',rem: "5rem", user: @user %>
                <p class="text-center col-12"><%= @user.name %></p>
            <% end %>
            <div class="">
                <%= render 'favorites/favorite_button', lyric: @lyric %>
                <% if @user == current_user %>
                    <%= link_to 'Edit', edit_lyric_path(@lyric), class: "btn btn-secondary btn-block" %>
                    <%= render 'lyrics/delete_button', lyric: @lyric %>
                    <!--<%# @apply_count = apply_counts(@lyric) %>
                    <%#= link_to apply_lyric_path(@lyric), class: "btn btn-secondary btn-block" do %>
                        <i class="far fa-handshake"></i>
                        <span class="badge"><%#= @apply_count %></span>
                    <%# end %>-->
                <% else %>
                    <%= render 'messages/message_button', user: @user%>
                    <%= render 'relationships/follow_button', user: @user%>
                    <%#= render 'requests/apply_button', apply: @apply, lyric: @lyric %>
                    <%= render 'comments/comment_button' %>
                <% end %>
            </div>
        </div>
        
        <div class="col-10 d-block d-sm-none d-flex justify-content-between my-3 mx-auto" id="lyric_menu">
            <%= link_to user_path(@user), style: "text-decoration: none; cursor: pointer;" do  %>
                <%= render 'users/user_image_button',rem: "3rem", user: @user %>
            <% end %>
            <div class="">
                <%= render 'favorites/favorite_link', lyric: @lyric %>
            </div>
            <div class="">
                <%= render 'comments/comment_link', lyric: @lyric %>
            </div>
            <!--<div class="">
                <%#= render 'requests/apply_link', apply: @apply, lyric: @lyric %>
            </div>-->
        </div>
        <div class="col-12 col-sm-6 p-sm-0">
            <%= render 'lyrics/lyric_detail', lyric: @lyric, user: @user %>
            <div class="mx-2 my-1 d-sm-none d-block">
                <% if current_user == @lyric.user %>
                    <%= render 'lyrics/edit_button', lyric: @lyric %>
                    <%= render 'lyrics/delete_button', lyric: @lyric %>
                <% end %>
            </div>
        </div>
        <div class="col-12 col-sm-4 p-sm-2">
            <%= render 'comments/comment_form', lyric: @lyric, comment: @comment %>
            <%= render 'comments/comment_list', comments: @comments %>
        </div>
    </div>
</div>
<%= render 'layouts/under_menu', user: @current_user %>