<div class="row">
    <dvi class="col-12">
        <%= render 'layouts/navbar'%>
        <h1 class="text-center">Lyric Detail</h1>
    </dvi>
    <% @user = User.find(@lyric.user_id)%>
    <div class="col-3">
        <%= render 'users/user_card', user: @user %>
    <% if @user == current_user %>
        <%= link_to 'Edit', edit_lyric_path(@lyric), class: "btn btn-secondary btn-block my-3" %>
    <% else %>
        <%= render 'relationships/follow_button', user: @user %>
    <% end %>
    </div>
    <div class="col-9">
        <h2><%= @lyric.title %></h2>
        <section class="border my-3">
            <%= @lyric.content %>
        </section>
        <section class="border my-3">
            <%= @lyric.comment %>
        </section>
    </div>
</div>