<div class="col-12 col-sm-9 offset-sm-2 p-0">
    <div class="d-flex justify-content-start">
        <div class="col-12 col-sm-3 p-0  <%#= 'd-none d-sm-block' unless op == "talkroom_top" %>"  id="room_list">
            <%= render 'talkrooms/talkroom_list' %>
        </div>
        <% unless op == "talkroom_top" %>
            <div class="co-12 col-sm-9 p-0 my-4" id="room">
                <%= link_to '<< Friends List', talkings_user_path(current_user), class:"d-sm-none btn btn-link col-3", id:"friend" %>
                <%= render 'users/other_user_card', user: @user %>
                <%= render 'messages/message_list' %>
                <%= render 'messages/message_form', message: @message %>
            </div>
        <% end %>
    </div>
</div>