        <% if follows.any? %>
            <ul class="list-unstyled">
                <% follows.each do |fuser| %>
                    <li class="p-3 border">
                        <%= link_to fuser, class: "media col-12", style: "text-decoration: none;" do %>
                            <% if fuser.picture? %>
                                <img 
                                 src="<%= fuser.picture.to_s %>" 
                                 class="border rounded-circle" 
                                 style="width: 4rem; height: 4rem;"
                                >
                            <% else %>
                                <img 
                                 src="/user_icon.png" 
                                 class="border rounded-circle" 
                                 style="width: 4rem; height: 4rem;"
                                >
                            <% end %>
                            <div class="media-body ml-3">
                                <h6 class="mt-0 mb-1"><%= fuser.name %></h6>
                                <section class="">
                                    <%= fuser.profile %>
                                </section>
                            </div>
                        <% end %>
                        <% unless fuser == current_user %>
                        <div class="d-flex justify-content-end">
                            <div class="col-5 col-sm-3">
                                <%= render 'relationships/follow_button', user: fuser %>    
                            </div>
                            <div class="col-5 col-sm-3">
                                <%= render 'favorites/message_button', user: fuser %>    
                            </div
                        </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>