    <div class="col-12 p-0 container">    
        <% if follows.any? %>
            <ul class="list-unstyled">
                <% follows.each do |fuser| %>
                    <li class="p-3 border">
                        <%= link_to fuser, class: "media", id: "user_link" do %>
                            <div class="">
                                <div class="rounded-circle p-0 user_image">
                                    <%= render 'users/user_image_button', rem: "4rem", user: fuser %>
                                </div>
                            </div>
                            <div class=" col-7 media-body ml-3">
                                <h6 class="mt-0 mb-1"><%= fuser.name %></h6>
                                <section class="">
                                    <%= fuser.profile %>
                                </section>
                            </div>
                        <% end %>
                        <% unless fuser == current_user %>
                        <div class="d-flex justify-content-end">
                            <div class="col-5 col-sm-3">
                                <%= render 'relationships/follow_button', user: fuser %>    
                            </div>
                            <div class="col-5 col-sm-3">
                                <%= render 'messages/message_button', user: fuser %>    
                            </div
                        </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>