    <div class="col-12">
        <% if follows.any? %>
            <ul class="list-unstyled">
                <% follows.each do |user| %>
                    <li class="m-3 p-3 d-flex justify-content-between" , style="background-color: orange;">
                        <%= link_to user, class: "media text-decoration-none col-7 col-sm-9 text-white" do %>
                            <% if user.image? %>
                                <img src="<%= user.image.url %>" class="border rounded-circle" style="width: 3rem; height: 3rem;"></img>
                            <% else %>
                                <p class="border rounded-circle bg-info" style="width: 3rem; height: 3rem;"></p>
                            <% end %>
                            <div class="media-body ml-3">
                                <h5 class="mt-0 mb-1"><%= user.name %></h5>
                                <section class="d-none d-sm-block">
                                    <%= user.profile %>
                                </section>
                            </div>
                        <% end %>
                        <div class="col-5 col-sm-3 m-0 d-none d-sm-block">
                            <%= render 'relationships/follow_button' ,user: user %>
                        </div>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>