        <!-- Modal -->
        <div 
         class="modal bd-example-modal-sm fade" 
         id="other_user" 
         data-backdrop="static" 
         tabindex="-1" role="dialog" 
         aria-labelledby="staticBackdropLabel" 
         aria-hidden="true"
        >
            <div class="modal-dialog modal-sm" role="document" style="z-index: 1500;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"><%= user.name %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex justify-content-start pl-3">
                            <% if user.picture? %>
                                <img 
                                 src="<%= user.picture.to_s %>" 
                                 class="border rounded-circle mx-3" 
                                 style="width: 4rem; height: 4rem;"
                                >
                            <% else %>
                                <img 
                                 src="/user_icon.png" 
                                 class="border rounded-circle mx-3" 
                                 style="width: 4rem; height: 4rem;"
                                >
                            <% end %>
                            <table>
                                <tbody>
                                    <tr>
                                        <th class="col-2"><%= link_to 'Lyrics', user_path(user), style: "text-decoration: none;"%></th>
                                        <th class="col-2"><span class="badge badge-secondary"><%= @count_lyrics %></span></th>
                                    </tr>
                                    <tr>
                                        <th class="col-2"><%= link_to 'Follows', followings_user_path(user), style: "text-decoration: none;"%></th>
                                        <th class="col-2"><span class="badge badge-secondary"><%= @count_followings %></span></th>
                                    </tr>
                                    <tr>
                                        <th class="col-2"><%= link_to 'Followers', followers_user_path(user), style: "text-decoration: none;"%></th>
                                        <th class="col-2"><span class="badge badge-secondary"><%= @count_followers %></span></th>
                                    </tr>
                                    <tr>
                                        <th class="col-2"><%= link_to 'Followers', likes_user_path(user), style: "text-decoration: none;"%></th>
                                        <th class="col-2"><span class="badge badge-secondary"><%= @count_likes %></span></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="pl-3">
                            <h6>profile</h6>
                            <p><%= user.profile %></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <% if @user == current_user %>
                            <%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-dark" %>
                            <%= link_to 'Edit', edit_user_path(user), class: "btn btn-light" %>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <% else %>
                            <%= render 'messages/message_button', user: @user%>
                            <%= render 'relationships/follow_button', user: @user%>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>