<!--<nav class="navbar navbar-expand-sm">
            <button type="button" class="navbar-toggler bg-success" data-toggle="collapse" data-target="#tab-var">
                <span class="navbar-toggler-icon"></span>
            </button>

<ul class="nav nav-tabs nav-justified collapse navbar-collapse" id="tab-var">-->
<ul class="nav nav-tabs" id="tab-var">
    <li class="nav-item col-6 col-md-3 p-0">
        <a href="<%= user_path(@user) %>"class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">
            Lyrics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-secondary"><%= @count_lyrics %></span>
        </a>
    </li>
    <li class="nav-item col-6 col-md-3 p-0">
        <a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">
            Follows &nbsp;&nbsp;&nbsp;&nbsp;  <span class="badge badge-secondary"><%= @count_followings %></span>
        </a>
    </li>
    <li class="nav-item col-6 col-md-3 p-0"> 
        <a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">
            Followers &nbsp;&nbsp;<span class="badge badge-secondary"><%= @count_followers %></span>
        </a>
    </li>
    <li class="nav-item col-6 col-md-3 p-0">
        <a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">
            Favorites&nbsp;&nbsp;&nbsp; <span class="badge badge-secondary"><%= @count_likes %></span>
        </a>
    </li>
</ul>
<!--</nav>-->