<%= stylesheet_link_tag "users/new", :media => "all" %>

<div id="redline" class="col-12"></div>
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1 class="text-center col-12 my-4">
                <span>S</span>
                <span>i</span>
                <span>g</span>
                <span>n</span>
                <span>u</span>
                <span>p</span>
            </h1>
            <%= form_with(model: @user, local: true, id: 'signup_form') do |form| %>
                <%= render 'layouts/error_message', model: @user %>
                <signup-form></signup-form>

                <%= form.text_field :name, class: 'd-none' %>
                <%= form.email_field :email, class: 'd-none' %>
                <%= form.password_field :password, class: 'd-none' %>
                <%= form.password_field :password_confirmation, class: 'd-none' %>
                <% profile_default = 'はじめまして、よろしくお願いします。/ Hello! Nice to meet you!'  %>
                <%= form.text_field :profile, value: profile_default, class: 'd-none' %>
                <div class="form-group row d-flex justify-content-around">
                        <%= form.submit 'Sign Up', class: 'btn col-9 col-sm-4 m-2', id: 'signup' %>
                        <%= link_to 'Back', root_url, class: 'btn btn-light btn col-9 col-sm-4 m-4 m-sm-2', id: 'totop' %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div id="blueline" class="col-12"></div>