<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Lyrics</title>
        
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        
        <%= stylesheet_link_tag "animate", :media => "all" %>
        <%= stylesheet_link_tag "main", :media => "all" %>
    </head>
    <% if logged_in? %>
        <%= render 'users/current_user_card', user: @current_user %>
    <% end %>
    <body>
        <%= render 'layouts/flash_messages' %>
        <% if logged_in? %>
            <%= render 'layouts/navbar'%>
        <% end %>
        <%= render 'layouts/side_menu', user: @current_user %>
        <%= yield %>
    </body>
</html>
