<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Lyrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Animate CSS -->
    <%= stylesheet_link_tag "animate", :media => "all" %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  
  <body class="m-0">
    <div class="container mw-100">
      <%= render 'layouts/flash_messages' %>
      <% if logged_in?%>
        <%= render 'layouts/navbar'%>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
